.grid{
    display:flex;
    flex-wrap: wrap;
    height:300px;
    width:400px;
    text-align: center;
    padding-left: 200px;
    padding-bottom: 20px;
    
}

.background {
    background-color: lightblue;
    opacity: 100%;
    
}

.result {
    text-align: center;
}

.main-header {
    padding-left: 150px;
}