.grid{
    display:flex;
    flex-wrap: wrap;
    height:300px;
    width:400px;
    text-align: center;
    padding-left: 500px;
    padding-top: 150px;
    
}

.background {
    background-color: white;
    opacity: 100%;
    
}

#result {
    text-align: center;
}

.main-header {
    padding-left: 150px;
}

.score {
    text-align: center;
}

.doge {
    padding-left: 450px;
}


@media only screen and (max-width: 800px) {
.grid img { 
width: 95px; 
height: 95px; 
margin: 3px; 
transform-style: preserve-3d; 
transition: transform 0.5s; 
} 
